@page
@model NichollsScheduler.Pages.CourseResultsModel
@{
    ViewData["Title"] = "Course Results";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    
   
}


<div class="container" style="margin-top: 1em">
    @if (CourseResultsModel.courseResults.Count == 1)
    {
        <h2>Select a course to register for.</h2>
    }
    else
    {
        <h2>Select courses to register for.</h2>
    }
    <form method="post" id="regsCourse">
        @foreach (var courseList in CourseResultsModel.courseResults)
        {
            <div class="card" style="margin-top: 1em">
                <div class="card-header text-white btn-red">
                    @if (courseList[0].title != null)
                    {
                        <h4>@courseList[0].subject @courseList[0].courseNumber - @courseList[0].title</h4>
                    }
                    else
                    {
                        <h4>@courseList[0].subject @courseList[0].courseNumber - No Courses Found</h4>
                    }

                </div>
                <div class="card-body">
                    <table class="table table-sm table-responsive-md table-striped courseTable">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                @if (courseList.Exists(c => c.subject == "ENGL"))
                                {
                                    @if (courseList.Exists(c => c.courseNumber == "215" || c.courseNumber == "216" || c.courseNumber == "217"))
                                    {
                                        <th scope="col">Topic</th>
                                    }
                                }

                                <th scope="col">Section</th>
                                <th scope="col">Days</th>
                                <th scope="col">Times</th>
                                <th scope="col">Location</th>
                                <th scope="col">Type</th>
                                <th scope="col">Instructor</th>
                                <th scope="col">Credits</th>
                                <th scope="col">Remaining Seats</th>
                            </tr>
                        </thead>
                        @foreach (var course in courseList)
                        {
                           
                            
                            @if (course.title != null)
                            {
                                
                              
                                <tr class="courseRow">
                                    <td>
                                        @if ((course.seatCap - course.seatActual) < 0)
                                        {
                                            <input type="checkbox" disabled value="@course.courseRegistrationNum" />
                                        }
                                        else
                                        {

                                            @if (CourseResultsModel.prevSelectedCourses.Count > 0)
                                            {
                                                if (CourseResultsModel.prevSelectedCourses.Contains(course.courseRegistrationNum))
                                                {
                                                    <input type="checkbox" value="@course.courseRegistrationNum" class="courseCheckbox" checked name="selectedCourse[@(CourseResultsModel.prevSelectedCourses.IndexOf(course.courseRegistrationNum))]" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" value="@course.courseRegistrationNum" class="courseCheckbox" />
                                                }
                                            }
                                            else
                                            {
                                                <input type="checkbox" value="@course.courseRegistrationNum" class="courseCheckbox" />
                                            }
                                        }

                                    </td>
                                    @if(course.topic != null)
                                    {
                                    <td><h6>@course.topic</h6></td>
                                    }
                                    <td class="section">@course.section</td>
                                    @if (course.days.Count == 1)
                                    {
                                        <td>@course.days[0]</td>
                                        <td>@course.time[0]</td>
                                        <td>@course.location[0]</td>
                                        <td>@course.scheduleType[0]</td>
                                        <td>@course.instructor[0]</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @for (int i = 0; i < course.days.Count; i++)
                                            {
                                                <p>@course.days[i]</p>
                                            }
                                        </td>
                                        <td>
                                            @for (int i = 0; i < course.time.Count; i++)
                                            {
                                                <p>@course.time[i]</p>
                                            }
                                        </td>
                                        <td>
                                            @for (int i = 0; i < course.location.Count; i++)
                                            {
                                                <p>@course.location[i]</p>
                                            }
                                        </td>
                                        <td>
                                            @for (int i = 0; i < course.scheduleType.Count; i++)
                                            {
                                                <p>@course.scheduleType[i]</p>
                                            }
                                        </td>
                                        <td>
                                            @for (int i = 0; i < course.instructor.Count; i++)
                                            {
                                                <p>@course.instructor[i]</p>
                                            }
                                        </td>
                                    }
                                    <td>@course.creditHours</td>
                                    <td style="text-align:center">@(course.seatCap - course.seatActual)</td>
                                </tr>
                            }
                            else
                            {
                                <tr></tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <br />
        }

        <div class="col-6 offset-3" style="text-align:center">
            <input type="submit" id="register" value="Register" class="btn btn-lg btn-success btn-block" />
        </div>
    </form>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var i = $("[type='checkbox']:checked").length;
            var selectedCheckBoxes = $("[type='checkbox']:checked").each(function () {
                var inputs = $(this.parentElement.parentElement.parentElement.parentNode).find("tr>td>input").each(function () {
                    if (this.checked) {
                        console.log("checked")
                        return;
                    } 
                        $(this).prop('disabled', 'true');
                    });
            });
            
                
            $("#register").click(function (e) {
                if (i == 0) {
                    alert("You must select a course first.");
                }
            });
            $(".courseCheckbox").change(function () {
                var selectedCheckBox = this;
                if (this.checked) {
                    var inputs = $(this.parentElement.parentElement.parentElement.parentNode).find("tr>td>input").each(function () {
                        if (this == selectedCheckBox) {
                            return;
                        }
                        $(this).prop('disabled', 'true');
                    });
                    this.setAttribute("name", `selectedCourse[${i}]`)
                    i++
                }
                else {
                    var inputs = $(this.parentElement.parentElement.parentElement.parentNode).find("tr>td>input").each(function () {
                        $(this).removeAttr("disabled");
                    });
                    this.removeAttribute("name")
                    i--
                }
            });
        });
    </script>
}